API_PORT=
DB_PASSWORD=
DB_ADMIN=
DB_NAME=
DB_URL=
JWT_SECRET=
VALKEY_HOST=
VALKEY_PORT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_REGION=
AWS_S3_BUCKET=
AWS_SES_REGION=
AWS_SES_CONFIGURATION_SET=
HOSTNAME=
RENDER_OUTPUT_PATH=/tmp/michi-renders
GEMINI_API_KEY=
LOG_LEVEL=info
ENV=production
